{% extends 'home/base.html' %}
{% load static %}
{% block content %}
<body>
    <div class="margin container">
        <div class="row px-3 mx-auto">
            <img src="{%static 'images/profile-pic2.jpg' %}" class="center"/>
        </div>
        <div class="row px-3 mx-auto">
                <h2 class="center">Isabella</h2>
        </div>
        <div class="row px-3 mx-auto">
            <p class="center">Hamba Allah, Manusia Biasa, Phobia Jangkrik, Pendidikan Seadanya, Cita-cita ingin menjadi Cita Citata, Hidup untuk Makan, Pro Nurhadi-Aldo</p>
            <table>
                <ul>
                    <li>Alamat : Jln.Tidar Utara no.20</li>
                    <li>Telephone : 08120980868987</li>
                    <li>Education : SD nanggung</li>
                    <li>Proffesion : Budak Korporat</li>
                    <li>Nationality : Indonesia</li>
                    <li>Email : wkwkwkw@wkwkw.com</li>
                    <li>Company : Area 51</li>
                </ul>
            </table>
        </div>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3951.3141822078887!2d112.60827644965681!3d-7.966446794234025!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e7882865ded0697%3A0xa77fa961a7c4e4b7!2sSepulsa+Lodge+Malang!5e0!3m2!1sen!2sid!4v1549974571417" width="600" height="450" frameborder="0" style="border:0" allowfullscreen class="row px-3 mx-auto center margin"></iframe>
</body>
{% endblock %}
