html {
    font-size: 16px;
}

.ata-header {
    max-width: 700px;
    color : white;
}
  
.color { background-color: #00bfff
}

.margin {
    margin-top: 50px;
}

.foot {
    background-color: black;
    color: white;
}

style {
    font-size: 100px;
}
